*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
    nav ul li{
        display: inline-block;
        margin-right: 20px;
    }
.container nav ul li:hover{
    color: #d6c5bf;
    box-shadow: inset 0 5px #e05b6a;
}
a{
    text-decoration: none;
    color: rgb(54, 6, 63);
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.banner{
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(rgb(221, 216, 184),rgb(231, 199, 139)),url(cover.jpg);
    background-size: cover;
    background-position: center;
}
.row{
    display:flex ;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.header{
    
    background: radial-gradient(rgb(128, 211, 80),#39940f);
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: rgb(219, 85, 85);
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
.h2{
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 25px;
}
.categories{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 10%;
    min-width: 20px;
    margin-bottom: 30px ;
}
.col-4{
   width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(182, 83, 53);
}
.title::after{
    content: '';
    background: rgb(54, 37, 25);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.offer{
    background:radial-gradient(rgb(228, 198, 171),#f1ebe9);
    margin-top: 200px;
    padding: 20px;
}
/*---------------footer-------------*/
.footer{
    background:#000 ;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
    
.footer h3{
    color: #ffffff;
    margin-bottom: 20px ;
}
.footer-col-1,.footer-col-2 ,.footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1 ;
    text-align: center;
}
.footer-col-2 img{
   width: 180px;
   margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type:none ;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 50px;
}

